.text
  %h1 Noteynote is a tool for note taking.
  %h4 It's set up in such a way that you can take notes about anything, and very quickly categorize those notes.
  When writing a note, simply include some tags in it, such as #todo, or #bookmarks.
  %br
  When you post the note, those tags will be transformed into links that you can click on to navigate to those tags.
  %h3 Keyboard shortcuts
  %ul
    %li shift+click on a #tag adds it to the current search in the text field.
    %li ctrl+enter searches with whatever you typed into the text field
    %li alt+enter posts whatever you typed into the text field
    %li alt+p selects the text field
    %li alt+a navigates to 'View all' noteynotes
  %br
