body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.color-0 {color: #91cf00}
a.color-1 {color: #a710fe}
a.color-2 {color: #3322a9}
a.color-3 {color: #e02520}
a.color-4 {color: #cc00e5}
a.color-5 {color: #8d88fa}
a.color-6 {color: #6064ff}
a.color-7 {color: #e7ce40}

#center_column {
  width: 900px;
  margin: 30px auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  position: relative;
}

#results {
  width: 700px;
  margin-top: 10px;
}

#results li {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

#results li:hover {
  background: #f8f8f8;
}

#results li.toggle:hover {
  background: #fff;
}

#results li .text {
}

#results li .tag {
}

#results li .created_at {
  color: #666;
  font-size: 11px;
}

#instructions {
  float: right;
  width: 174px;
  padding-top: 6px;
}

#rightbar {
  float: right;
  border-left: 1px solid #ccc;
  padding: 6px;
  width: 163px;
}

#tags li {
}

#tags a.tag {
  display: block;
  padding: 1px;
}

#bottom-buttons .view_all {
  margin-left: 2px;
}

#query, .edit_text {
  width: 693px;
  height: 70px;
  font-size: 16px;
  border: 1px solid #999;
  -webkit-box-shadow: #eee 0px 0px 23px;
  -moz-box-shadow: #eee 0px 0px 23px;
  margin: 0 0 5px 0;
  padding: 0 2px 0 2px;
}

#edit-cancel {
  display: inline;
}

#sinatra-authentication-login-logout {
  float: right;
  margin-top: 8px;
}

li .delete, li .edit, li .archive {
  /*display: none;*/
  background-color: white;
  height: 16px;
  width: 16px;
  float: right;
  /*clear: right;
  border-left: 1px solid #aaa;
  */
  padding: 2px 0px 0px 4px;
  background-position: 2px 0px !important;
  background-repeat: no-repeat !important;
}

li .archive {
  background: url('/images/drawer.png') no-repeat;
}

li .edit {
  background: url('/images/pencil.png');
}

li .delete {
  background: url('/images/delete.png') no-repeat;
}

#archive li .archive {
  background: url('/images/arrow_undo.png') no-repeat;
}

#archive li.toggle {
  text-align: right;
  content: 'Archived';
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
  border-top: none;
}

#archive {
  margin-top: 30px;
  opacity: .5;
}

#archive:hover {
  opacity: 1;
}

#results li .options {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 90px;
  /*background: url('/images/cog.png') no-repeat 10px 0;*/
  display: none;
  height: 100%;
  cursor: pointer;
}

#tags li .delete {
  display: none;
  position: absolute;
  right: 0px;
}

#tags li:hover .delete {
  display: block;
}

#form_container {
  position: relative;
  width: 700px;
}

#main-loading-container {
  text-align: center;
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  color: #888;
  background: #fff;
  padding: 10px;
}

.loading {
}

#modalbox {
  background: #f9f9f9;
  border: 4px solid #c9c9c9;
  display: none;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -31px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: 100;
}

#modalbox input {
  margin: 3px;
}

#modalbox .loading {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

#modalbox li {
  list-style: square;
  list-style-position: inside;
}

#modalbox .text {
  width: 750px;
}

#modalbox .close-modalbox {
  margin: 5px 0 0 0;
  padding: 3px;
  border-top: 1px solid #bbb;
  display: block;
  text-align: right;
}

.promo {
  width: 700px;
  margin: 0 auto;
}

.preview-image {
}

.tagline {
  margin-left: 25px;
}


#date-slider-container {
  position: absolute;
  bottom: 9px;
  right: 0px;
  background: url(/images/clock.png) no-repeat 0 0;
  padding: 5px 5px 5px 20px;
}

#date-slider-container #date-slider-value {
  font-size: 11px;
  color: #888;
  text-align: left;
  padding-right: 16px;
  line-height: 6px;
  
  margin:  0 0 0 0;
  float: left;
}

#date-slider {
  width: 75px;
  float: left;
}
